{{extend 'layout.html'}}
{{block head}}
<script>
// check for request vars
{{if 'request_flag_type' in locals():}}
var requestFlagType = {{=request_flag_type}};
{{pass}}
{{if 'request_comments' in locals():}}
var requestComments = {{=request_comments}};
{{pass}}
</script>
{{end}}


<div class="modal fade" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="connectionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="connectionModalLabel">Connect Quotes</h4>
      </div>
      <div class="modal-body">
      	<div class="quote1">
      		<h4>Connect quote A... <small class="source"></small></h4>
      		<p class="text"></p>
      	</div>
      	<div class="quote2">
      		<h4>...to quote B <small class="source"></small></h4>
      		<p class="text"></p>
      	</div>
      	<hr>
        <form>
          <div class="form-group">
          	<label class="control-label">Please select an option:</label>
          	<div class="list-group"></div>
          </div>
          <div class="form-group">
            <label for="Summary" class="control-label">Summary:*</label>
            <input type="text" class="form-control" id="Summary" aria-describedby="help-Summary"></input>
						<span id="help-Summary" class="help-block">You can edit this text to clarify what connects these two quotes.</span>
          </div>
          <div class="form-group">
            <label for="Description" class="control-label">Description:*</label>
            <textarea class="form-control" id="Description" aria-describedby="help-Description"></textarea>
						<span id="help-Description" class="help-block">Please add a short note explaining this connection.</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary btn-submit disabled">Create Connection</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<div class="object quote" data-id="{{=q.QUOTE.id}}"
		data-comments="{{=comment_count}}" data-connections="{{=connection_count}}"
    data-edits="{{=edit_count}}" 
		data-rating="{{if not rating == None:}}{{=rating}}{{else:}}0{{pass}}"
		data-rating-count="{{if not rating_count == None:}}{{=rating_count}}{{else:}}0{{pass}}"
		data-rating-user="{{=rating_user}}"
		data-creator="{{=q.QUOTE.created_by}}">
			<!-- panel for the quote itself -->
			<div class="object-data panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Quote</h3>
				</div>
				<div class="panel-body">
					<p class="lead">
						{{=sanitize(q.QUOTE.Text)}}
					</p>
					<p class="pull-right small">
						Submitted by <a href="/Pindar/default/users/{{=q.auth_user.username}}">{{=q.auth_user.username}}</a>
					</p>
          <p>{{if q.QUOTE.Note:}}<strong>Note:</strong>{{pass}}&nbsp;{{=sanitize(q.QUOTE.Note)}}</p>
					<p class="text-center">
						<a class="btn btn-primary"
						href="/Pindar/default/authors/{{=q.AUTHOR_TR.id}}">
							{{=sanitize(q.AUTHOR_TR.DisplayName)}}
						</a>
						<a class="btn btn-primary"
						href="/Pindar/default/works/{{=q.WORK_TR.id}}">
							{{=sanitize(q.WORK_TR.WorkName)}}
						</a>
					</p>


					<div class="object-actions">
					</div>
				</div>
			</div><!--/.object-data -->

			<!-- panel for quote actions: edit, flag, etc -->
			<div class="panel object-results" style="display:none;">
				<br>
				{{if auth.user:}}
				<div class="row edit" style="display:none;">
					<div class="col-md-10 col-md-offset-1">
						<form class="form-horizontal edit-form" role="form" autocomplete="off">
							<div class="form-group enter-quote">
								<div class="col-md-12">
									<textarea class="form-control" rows="4" name="Text"
									placeholder="Enter the quote..." id="QUOTE-Text">{{=q.QUOTE.Text}}</textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="QUOTE-QuoteLanguageID" class="col-md-3 control-label">Language</label>
								<div class="col-md-4">
									<select class="form-control" id="QUOTE-QuoteLanguageID"
									 name="QuoteLanguageID" value="{{=q.QUOTE.QuoteLanguageID}}">
										{{for lang in langs:}}
									  <option value="{{=lang['id']}}">
									  	{{=lang['NativeName']}}
									  </option>
									  {{pass}}
									</select>
								</div>
								<div class="col-md-4 col-md-offset-1 checkbox">
								  <label>
								    <input type="checkbox" id="QUOTE-IsOriginalLanguage"
								     name="IsOriginalLanguage" value={{=q.QUOTE.IsOriginalLanguage}}>Original language</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<textarea class="form-control" id="QUOTE-Note" rows="2"
										placeholder="Context or additional information about this quote"
										 name="Note">{{=q.QUOTE.Note}}</textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-2 col-md-offset-4">
									<button type="submit" class="btn btn-primary" id="edit-submit">
									Submit</button>
								</div>
								<div class="col-md-2">
									<button type="button" class="btn btn-default cancel"
									id="quote-cancel">
									Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				{{pass}}
			</div><!--/.object-results -->
		</div><!--/.object -->
		<hr>
		<div class="connections" id="connections">
			<div class="col-md-8">
				<h3>Connected Quotes</h3>
			</div>
			<div class="col-md-3">
				<br>
				<button type="button" class="btn btn-info btn-connections">
      		<i class="fa fa-chain"></i> Connect a Quote</a>
    	</div>
    	<div class="col-md-12 description-show">
    		<p class="small">Pindar users have marked that this quote is linked to the following quotes&mdash;for instance, that the following quotes are influenced by it, allude to it, or talk about a similar theme.</p>
			</div>
			<div class="form-group search-box col-md-6" style="display:none">
				<input type="search" class="form-control authors" id="textQuery"
				placeholder="&#xF002; Search quotes"
          style="font-family:Arial, FontAwesome">
				<span class="glyphicon glyphicon-remove"></span>
				<span class="glyphicon glyphicon-refresh"></span>
			</div>
			<div class="col-md-6 description-search" style="display:none">
    		<p class="small">Search for quotes to connect to this one&mdash;for instance, quotes that are influenced by this one, or allude to it, or talk about a similar theme.</p>
			</div>
			<div class="row">
				<div class="col-md-12 show-connections">
          <div class="text-center spinner">
          <i class="fa fa-spinner fa-2x fa-spin"></i></div>
        </div>
				<div id="search-connections" class="col-md-12 search-connections search" style="display:none;"></div>
			</div>
		</div>


		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
 </div>
	<div class="col-md-4 recommendations">
		<h4>Users who liked this quote also liked:</h4>
    <div class="text-center spinner">
      <i class="fa fa-spinner fa-2x fa-spin"></i></div>
	</div>
</div><!--/.row -->
{{block extrajs}}
<script type="text/javascript" src='/Pindar/static/js/quotify.js'></script>
<script type="text/javascript" src='/Pindar/static/js/quotes.js'></script>
{{end}}