{{extend 'layout.html'}}
{{block head}}{{if not 'work' in locals():}}
<script>
// read in the initial authors
var init_works = [];
{{for a in init_query:}}
init_works.push({
	{{for b in a:}}
	'{{=b}}': {
		{{for c in a[b]:}}
		'{{=c}}': '{{=a[b][c]}}',
		{{pass}}
	},
	{{pass}}
});
{{pass}}
</script>{{pass}}{{end}}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		{{if 'work' in locals():}}
			<!-- show specific work -->

			<br>
			{{for w in work:}} <!-- formality -->
			{{if len(ratings) == 0:}}
				{{rating_count = 0}}
			{{else:}}
				{{rating_count = ratings[0]['_extra']['COUNT(RATING.Rating)']}}
			{{pass}}
			{{if rating_count == 0:}}
				{{rating = 0}}
			{{else:}}
				{{rating = ratings[0]['_extra']['AVG(RATING.Rating)']}}
			{{pass}}
			<div class="object work" data-work-tr-id="{{=w.WORK_TR.id}}"
			data-work-id="{{=w.WORK.id}}" data-id="{{=w.WORK_TR.id}}"
			data-rating="{{=rating}}" data-rating-count="{{=rating_count}}">
				<div class="object-data panel panel-default">
					<div class="panel-heading">
						<div class="panel-type pull-right">
							{{for type in worktypes:}}
								{{if type['id']==w.WORK.Type:}}
									{{=type['TypeName']}}
								{{break}}
							{{pass}}</div>
						<h3 class="panel-title">Work</h3>
					</div>
					<div class="panel-body">
						<p class="lead text-center">
							{{if w.WORK_TR.WorkName=='Attributed':}}
								Attributed to {{for a in authors:}}{{=a.AUTHOR_TR.DisplayName}}{{pass}}
							{{else:}}
								{{=sanitize(w.WORK_TR.WorkName)}}
							{{pass}}</p>
						<p class="text-center"><i>{{=w.WORK_TR.WorkSubtitle}}</i></p>
						<p class="text-center">{{=get_dates(w.WORK.YearPublished, w.WORK.YearWritten, "work")}}
						<p class="text-center">
							{{for a in authors:}}
							<a class="btn btn-primary" href="/Pindar/default/authors/{{=a.AUTHOR_TR.id}}">
								{{=sanitize(a.AUTHOR_TR.DisplayName)}}
							</a>
							{{pass}}
						</p>
						<p class="small">{{=sanitize(w.WORK_TR.WorkDescription)}}</p>
						<div class="object-actions">
							{{if w.WORK_TR.WikipediaLink:}}
								<a class="btn btn-default pull-right" href="{{=w.WORK_TR.WikipediaLink}}" target="_blank">Wikipedia</a>
							{{pass}}
						</div>
					</div>
				</div><!--/.panel -->
				<div class="panel object-results" style="display:none;">
					<br>
					{{if auth.user:}}
					<div class="row edit" style="display:none;">
						<div class="col-md-10 col-md-offset-1">
							<form class="form-horizontal edit-form" role="form" autocomplete="off">
								<div class="form-group">
									<label for="WORK_TR-WorkName" class="col-md-3 control-label">
										Name of work
									</label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="WORK_TR-WorkName"
										autocomplete="off" name="WorkName" value="{{=w.WORK_TR.WorkName}}">
										</input>
									</div>
								</div>
								<div class="form-group">
									<label for="WORK-Type" class="col-md-3 control-label">Type</label>
									<div class="col-md-4">
										<select class="form-control" id="WORK-Type"
										 name="WorkType" aria-describedby="help-WORK-Type"
										 value="{{=w.WORK.Type}}">
											{{for type in worktypes:}}
										  <option value="{{=type['id']}}">{{=type['TypeName']}}</option>
										  {{pass}}
										</select>
									</div>
									<span id="help-WORK-Type" class="help-block">Is this a book, a song, a poem, ...</span>
								</div>
								<div class="form-group">
									<label for="WORK_TR-WikipediaLink" class="col-md-3 control-label">
											Wikipedia page
									</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="url" class="form-control" id="WORK_TR-WikipediaLink" name="WorkWikipediaLink"
											value="{{=w.WORK_TR.WikipediaLink}}"></input>
											<span class="input-group-btn">
												<button class="btn btn-info wiki-link" type="button">
													<i class="fa fa-external-link"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="WORK_TR-WorkSubtitle" class="col-md-3 control-label">
										Subtitle
									</label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="WORK_TR-WorkSubtitle"	name="WorkSubtitle"
										value="{{=w.WORK_TR.WorkSubtitle}}"></input>
									</div>
								</div>
								<div class="form-group">
									<label for="WORK_TR-WorkDescription" class="col-md-3 control-label">
										Description of work
									</label>
									<div class="col-md-9">
										<textarea class="form-control" id="WORK_TR-WorkDescription"
										rows="3"
										name="WorkDescription">{{=w.WORK_TR.WorkDescription}}</textarea>
									</div>
								</div>
								<div class="form-group">
									<label for="WORK-YearPublished" class="col-md-3 control-label">
										Publication year</label>
									<div class="col-md-2">
										<input type="text" class="form-control" id="WORK-YearPublished"
										name="YearPublished"
										value="{{if not w.WORK.YearPublished==None:}}{{=w.WORK.YearPublished}}{{pass}}"></input>
									</div>
									<label for="WORK-YearWritten" class="col-md-5 control-label">
										Year written (if different)</label>
									<div class="col-md-2">
										<input type="text" class="form-control" id="WORK-YearWritten"
										name="YearWritten"
										value="{{if not w.WORK.YearWritten==None:}}{{=w.WORK.YearWritten}}{{pass}}"></input>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-2 col-md-offset-3">
										<button type="submit" class="btn btn-primary" id="edit-submit">
										Submit</button>
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-default cancel"
										id="work-cancel">
										Cancel</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					{{pass}}
				</div><!--/.object-results -->
			</div><!--/.object -->
			{{pass}}
			<br/>
			<br/>


			<div class="row">
				<div class="col-md-7">
					{{for w in work:}}
						{{if w.WORK_TR.WorkName=='Attributed':}}
							<h4>Quotes attributed to {{for a in authors:}}{{=a.AUTHOR_TR.DisplayName}}{{pass}}</h4>
						{{else:}}
						<h4>Quotes from <i>{{=sanitize(w.WORK_TR.WorkName)}}</i></h4>
						{{pass}}
					{{pass}}
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<select class="form-control" id="sortOrder">
							<option value="rating">Sort by rating</option>
							<option value="dateSubmitted">Sort by newest</option>
							<option value="connected">Most connected</option>
							<option value="anthologized">Most anthologized</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<a href="/Pindar/default/add?work={{=w.WORK_TR.id}}"
					class="btn btn-primary pull-right">Add a quote</a>
				</div>
			</div>
			<div class="row quotes-by-work"></div>


		{{else:}}
			<!-- show All Works page -->

			<div class="row">
				<div class="col-md-4">
					<h3>All Works</h3>
				</div>
				<div class="col-md-4">
					<br>
					<div class="form-group search-box">
						<input type="search" class="form-control works" id="textQuery"
						placeholder="&#xF002; Search works"
              style="font-family:Arial, FontAwesome">
						<span class="glyphicon glyphicon-remove"></span>
						<span class="glyphicon glyphicon-refresh"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 show-works default">
				</div>
				<div class="col-md-8 search-works search" style="display:none;"></div>
				</div>
			</div>
		{{pass}}
		<hr>
	</div>
</div><!--/.row -->

		<br/>
</div>



{{block tail}}
<script src="{{=URL('static','js/works.js')}}"></script>
<script src="{{=URL('static','js/quotify.js')}}"></script>
{{end}}